<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Kittens</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="ejs_production.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<header>
	<img src="img/chaton.jpg">
	</header>

	<h1>Liste des chatons</h1>

		<ul>
		    {% for kitten in kittens %}
		        <li>{{ kitten.name ~ " - " ~ kitten.color ~ " - " ~ kitten.quality1 ~ " - " ~ kitten.quality2 ~ " - " ~ kitten.bestFood ~ " - " ~ kitten.available|e }}</li>
		    {% endfor %}
		</ul>

	<p class="text-center text-muted">Copyright 2017 Kittens</p>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>
</html>