#kittens .row .col{
    background: #606060;
    border-radius: 5px;
    border: solid;
}

#form {
    background: #505050;
    padding: 5px;
}

.container {
    background: #606060;
}

#form label {
    width: 150px;
    margin: 5px;
}

.justify-content-md-center {
    background: #404040;
}

#info{
    display: none;
}

#modif{
    display: none;
}