#kittens .row .col{
    background: #7FFFD4;
    border-radius: 5px;
    border: solid;
}

#form {
    background: #F0FFFF;
    padding: 5px;
}

.container {
    background: #606060;
}

#form label {
    width: 150px;
    margin: 5px;
}

.justify-content-md-center {
    background: #404040;
}