#kittens .row .col{
    background: #353F85;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 5px;
    padding: 5px;
}

#form {
    background: #F0F8FF;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.container {
    background: #566EB2;
    border-radius: 5px;
    color: #F0F8FF;
}

#form label {
    width: 150px;
    margin: 5px;
}

.justify-content-md-center {
    background: #566EB2;
    color: #5C76BF;
}

.justify-content-md-center h1, h2 {
    color: #F0F8FF;
}

#content #kittendetail h2, h3 {
    text-decoration: underline;
}

#info{
    display: none;
}

#info ul {
    background-color: #F0F8FF;
    color: #5C76BF;
    border-radius: 5px;
    font-weight: bold;
}

#modif{
    display: none;
    position: relative;
}

#modif form {
    background-color: #F0F8FF;
    color: #5C76BF;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

#btnCancel {
    position: absolute;
    left: 81px;
    top: 296px;
}

button {
    color: #353F85;
    background-color: #F0F8FF;
    border-radius: 5px;
    font-weight: bold;
}

input {
    color: #353F85;
    background-color: #F0F8FF;
    border-radius: 5px;
    font-weight: bold;
}

body {
    background-image:url(/../img/chaton2.jpg);
    background-size: cover;
}

hr {
    color: #566EB2;
}

p {
    font-weight: bold;
    float: right;
}

#closeDetail {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    float: right;
}

#closeDetailKitten {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    float: right;
}